.sidebar {
  background-color: lightgray;
  float: left;
}

.themeList {
  display: inline;
  float: right;
}

ul.themes {
  float: right;
}

div > h3 {
  font-size: 12pt;
  font-weight: bold;
  border: 1px solid lightgray;
  padding: 3px;

}

.art1 {
  padding: 10px;
}

.panel-info {
  padding: 5px;
}

#wikipediaLogo {
  height: 175px;
  width: 175px;
  background-color: white;
  margin: 5px auto 5px;
}

#band {
  display: inline;
  float: left;
  width: 150px;
  padding: 5px;
}

#featured {
  display: inline;
  float: left;
  width: 250px;
  padding: 5px;
}

div#aboutFeatured {
  vertical-align: middle;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-cobaltblue {
  background-color: #aabedc;
}

.bg-green {
  background-color: #60a2a1;
}

.bg-lightpurple {
  background-color: #c16aed;
}

.bg-purple {
  background-color: #9b16dd;
}
